<div class="row">
    <div class="col-xs-12">

        <!--<div class="alert alert-danger" *ngIf="error">
            <p> {{ error }}</p>
        </div>-->

        <!--
        <app-alert 
            (close)="onHandleError()" 
            [message]="error" 
            *ngIf="error"></app-alert>-->
        
        <!--<div *ngIf="isLoading">
            <app-loading-spinner></app-loading-spinner>
        </div>-->

        <ng-template appPlaceholder></ng-template>

        <form #f="ngForm" (ngSubmit)="onSubmit(f)" *ngIf="!isLoading">
            <div class="form-group" >
                <label for="email">E-mail</label>
                <input 
                    type="email" 
                    id="email" 
                    class="form-control"
                    ngModel
                    required
                    email
                    name="email">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input 
                    type="password" 
                    id="password" 
                    class="form-control"
                    ngModel
                    required
                    name="password"
                    minlength="6">
            </div>
            <div>
                <button class="btn btn-primary" [disabled]="!f.valid" type="submit"> {{ isLoginMode ? 'Login' : 'Sign up' }} </button>
                <button class="btn btn-primary" type="button" (click)="onSwitchMoode()">Switch to {{ isLoginMode ? 'Sign up' : 'Login' }}</button>
            </div>
        </form>
    </div>
</div>